@media screen and (min-device-width:1400px) {
  div#showgrid {
    width: 1400px;
    margin: auto;
  }
}

div.column {
  border-style: solid;
  border-width: 1px;
}

.row {
  width: 100%;
  margin: auto;
  background: white;
  flex-wrap: nowrap;
}

@media (min-device-width: 1400px) {
  .column {
    width: 284px;
    height: 230px;
    display: inline;
    float: left;
    &.caption {
      border: none;
    }
  }
}

.column {
  width: 284px;
  height: 230px;
  margin: 10px;
  &:not(.caption) {
    overflow-y: scroll;
    &.low-high {
      border-left: solid 25px pink !important;
    }
    &.low-medium, &.low-low {
      border-left: solid 25px red !important;
    }
    &.med-high, &.high-high, &.high-med {
      border-left: solid 25px blue !important;
    }
    &.med-med, &.med-low, &.high-low {
      border-left: solid 25px yellow !important;
    }
  }
  &.caption {
    border: none;
    font-weight: bold;
    text-align: center;
    white-space:nowrap;
    display:block;
  }
  &.yaxis {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    .yheading {
      font-size: 2em;
    }
  }
  &.xaxis {
    .xheading {
      font-size: 2em;
    }
  }
}
