<div class="container-fluid">

  <div id="showgrid">

    <div class="btn-group d-flex justify-content-end" role="group" aria-label="Button group with nested dropdown">

      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary me-4" for="btnradio1">Individual Contributor</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary  me-4" for="btnradio2">Management</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary me-4" for="btnradio3">Executive Office</label>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            {{activeFilterBy.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="filterBy(0)">- All Manager Levels -</button>
            <button ngbDropdownItem  (click)="filterBy(1)">A23 - Advanced (P4/S4)</button>
          </div>
        </div>
<!--        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          {{activeFilterBy.name}}-->
<!--        </button>-->
<!--        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">-->
<!--          <li><a class="dropdown-item" (click)="filterBy(0)" >- All Manager Levels -</a></li>-->
<!--          <li><a class="dropdown-item" (click)="filterBy(1)">23 - Advanced (P4/S4)</a></li>-->
<!--        </ul>-->
      </div>

    </div>
    <div class="mt-4">
        <div class="row">
          <div class="column caption yaxis">High</div>
          <div class="column low-high">
<!--            Low High-->
            <ul class="list-group">
              <li class="list-group-item" (click)="showEmployeeDetails()">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
              <li class="list-group-item">And a fifth one</li>
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
              <li class="list-group-item">And a fifth one</li>
            </ul>
          </div>
          <div class="column med-high">1x2</div>
          <div class="column high-high">1x3</div>
        </div>
        <div class="row">
          <div class="column caption yaxis">
            Medium
            <div class="yheading">Potential</div>
          </div>
          <div class="column low-medium">2x1</div>
          <div class="column med-med">2x2</div>
          <div class="column high-med">2x3</div>
        </div>
        <div class="row">
          <div class="column caption yaxis">Low</div>
          <div class="column low-low">3x1</div>
          <div class="column med-low">3x2</div>
          <div class="column high-low">3x3</div>
        </div>
      <div class="row">
        <div class="column caption xaxis"></div>
        <div class="column caption xaxis">Low</div>
        <div class="column caption xaxis">Medium
          <div class="xheading">Performance</div>
        </div>
        <div class="column caption xaxis">High</div>
      </div>
    </div>
  </div>

</div>
