<nav class="navbar navbar-light navbar-expand-lg navigation-clean med-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/medline-logo-180-180.jpg" alt="Medline Industries" height="36" class="me-2">
     Talent Planning Process</a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <div class="navbar-nav ms-auto">

        <span class="nav-item dropdown"><a class="nav-link" aria-expanded="false" href="#">
          <fa-icon [icon]="userIcon" ></fa-icon>
          {{username}} </a></span>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li [ngClass]="{'active-menu': activeMenu === menuOptions.home}" class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Direct Reports</a>
      </li>
      <li [ngClass]="{'active-menu': activeMenu === menuOptions.ninebox}" class="nav-item">
        <a class="nav-link" [routerLink]="['/ninebox']">Nine Box</a>
      </li>
    </ul>
  </div>
</nav>
<!--<p>Is Authenticated: {{ isAuthenticated }}</p>-->
<!--<br />-->
<!--<pre>{{ userData$  | json}}</pre>-->

<router-outlet></router-outlet>
