<div class="container">
  <h3>Andy Mills</h3>
  <form class="mt-4">
    <fieldset disabled>
      <div class="form-group row mb-2">
        <label for="performance" class="col-sm-3 col-form-label">Performance:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="performance"  value="Medium">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="potential" class="col-sm-3 col-form-label">Potential:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="potential" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="riskofloss" class="col-sm-3 col-form-label">Risk of Loss:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="riskofloss" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="impactofloss" class="col-sm-3 col-form-label">Impact of Loss:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="impactofloss" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="managementlevel" class="col-sm-3 col-form-label">Managment Level:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="managementlevel" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="jobcode" class="col-sm-3 col-form-label">Job Code:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="jobcode" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="jobtitle" class="col-sm-3 col-form-label">Job Title:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="jobtitle" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="division" class="col-sm-3 col-form-label">Division:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="division" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="startdate" class="col-sm-3 col-form-label">Start Date:</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="startdate" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="subfunction" class="col-sm-3 col-form-label">Sub Function:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="subfunction" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="currenttenure" class="col-sm-3 col-form-label">Current Tenure (Years):</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="currenttenure" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="jobentrydate" class="col-sm-3 col-form-label">Job Entry Date:</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="jobentrydate" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="retirementeligible" class="col-sm-3 col-form-label">Retirement Eligible:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="retirementeligible" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="approaching" class="col-sm-3 col-form-label">Approaching Retirement:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="approaching" >
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="comment" class="col-sm-3 col-form-label">Comment:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="comment" >
        </div>
      </div>
    </fieldset>
    <div class="m-4 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
